/* Sidebar.css */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    /* top: 0; */
    left: 0;
    /* background-color: #f2eaea; */
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 8px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }

  .chatSessionLink {
    background-color: #f0f0f0; /* Set the desired background color */
    padding: 0.5rem; /* Add some padding for better visibility */
    border-radius: 20px; /* Add rounded corners if desired */
    /* Add any other styles you want, such as text color, font-weight, etc. */
  }

  .activeChatSession1 {
    background-color: #e0e0e0; /* Different background color for active session */
    font-weight: bold; /* Make the text bold */
    /* Add any other styles you want for the active session */
  }

  
